@{
    ViewData["Title"] = "All questions";
}

<div>
    <h3 class="my-4">Something to say ?</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="row" id="form-ask-question">
            @Html.AntiForgeryToken()
            <div class="form-group col-md-8">
                <textarea class="form-control" name="message" rows="3" placeholder="Your message here..."></textarea>
            </div>
            <div class="form-group col-md-4 d-flex align-items-end">
                <button class="btn btn-my-blue form-control" onclick="ask_question(this, event)"><i class="fas fa-globe-europe"></i> Publish</button>
            </div>
        </form>
    </div>
</div>

<div class="text-">
    <h3 class="my-4">All questions</h3>
</div>

<div class="accordion" id="accordionQuestions">
    <div class="card">
        <div class="card-header bg-white border-bottom-0" id="headingOne">
            <div class="mb-0">
                <div class="row link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 d-flex">
                                <i class="far fa-user fa-4x align-self-center mr-3"></i>
                                <div>
                                    <h5 class="my-blue-color">Ambroise LABA</h5>
                                    <p>Comment puis-je avoir des informations sur votre produit, Monsieur ?</p>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex flex-sm-row flex-md-column posted-info">
                                <p class="grey-text mb-0 desc-text"><i class="far fa-clock mr-1"></i>Posted 15 minutes ago</p>
                                <p class="grey-text my-0 desc-text"><i class="far fa-comment-dots mr-1"></i>Number of reponses : <span class="my-blue-color">0</span></p>
                            </div>
                            <div class="col-md-3 text-right d-flex flex-sm-row flex-md-column justify-content-between align-items-center">
                                <a class="btn btn-sm btn-outline-info action"><i class="fas fa-reply mr-1"></i> Answer</a>
                                <a class="btn btn-sm btn-outline-danger action"><i class="far fa-trash-alt mr-1"></i>Delete</a>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse show ml-4 border-0" aria-labelledby="headingOne" data-parent="#accordionQuestions">
            <div class="card-body my-bg-white-color rounded-top">
                <div class="row">
                    <div class="col-md-8">
                        <h6 class="my-blue-color">Gauthier LALLEMAND</h6>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        </p>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        <p class="grey-text desc-text"><i class="far fa-clock mr-1"></i>Answer posted yesterday</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_Response.cshtml" />
<partial name="_DeleteConfirmation.cshtml" />
@section Scripts{
    <script src="~/js/Custom/question-listing.js"></script>
    <script src="~/js/Custom/retrieve-question.js"></script>
    <script src="~/js/Custom/ask-question.js"></script>
    <script src="~/js/Custom/response.js"></script>
    <script src="~/js/Custom/deletion.js"></script>
}